<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Format Forge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path 'icon.png' %>" type="image/png">
    <link rel="icon" href="<%= asset_path 'icon.svg' %>" type="image/svg+xml">
  </head>
  <body class="bg-gray-100 min-h-screen">
    <%= yield %>
  </body>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_TAG_ID'] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    console.log("<%= ENV['GOOGLE_TAG_ID'] %>")
    gtag('config', "<%= ENV['GOOGLE_TAG_ID'] %>");
  </script>

</html>
